@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import '../../variables.css';

.home {
    width: calc(100dvw - 16px);
}

.title {
    margin: 1rem;
    padding: 1rem;
    font-weight: 700;
}

.load-more-posts {
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: 1.75rem;
}

.load-more-posts:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px var(--secondary-color);
    transform: translateY(-0.1rem);
}