@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import '../../variables.css';

.footer {
    z-index: 100;

    width: 100vw;
    height: 12rem;
    padding: 1rem 0;

    background-color: var(--secondary-color);
    color: var(--primary-color);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-left-part {
    font-family: 'Prata', serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer-svg {
    width: 11rem;
    height: 11rem;
}

.footer-middle-part {
    display: flex;
    align-items: center;
    z-index: 1
}

.social-icon {
    font-size: 32px;
    transition: linear 0.15s;
}

.social-icon:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: linear 0.15s;
}